* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    transition-duration: 0.8s;
    font-family: 'Gowun Batang', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    -ms-overflow-style: none;
    }
    
   ::-webkit-scrollbar {
     display: none;
   }

.navbar{
    display: flex;
}

.quick{
    display: flex;
}

.quick li{
    padding: 8px 12px;
    
}

.quick_pos{
    display: flex;
    justify-content:baseline;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.35);
    padding: 10px 25px;
}

li {
    list-style: none;
    margin-left: 30px;
    display: inline-block;
}
a {
    text-decoration: none;
}
.anchor_tab {
    margin:0;
    padding:0;
    overflow:hidden;
}


header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}




/* .anchor_tab li {
    float:left;
    margin:0 5px;
} */
.anchor_tab li a { 
    display:inline-block;
    height:30px;
    padding:0 15px;
    border:1px solid #999;
    border-radius:5px;
    background:#f4f4f4;
    box-shadow:0 0 5px #eee;
    color:#333;
    text-align:center;
    font-size:14px;
    line-height:30px;
}
.anchor_tab li a:hover {
    border:1px solid #1e7ae2;
    color:#1e7ae2;
    text-decoration:none;
}
.anchor_div.div1 {
    width: 100%;
    height: 100vh;
    font-size:15px;
    text-align:center;
    background:#eee;
    background-image: url(image/image1.png);
    background-size: cover;
}
.anchor_div.div2 {
    width: 100%;
    height: 90vh;
    font-size:21px;
    text-align:center;
    background:#ffffff;
    padding : 180px 0;
}


.div2{
    font-size: 30px;
}

.div2_11{
    font-size: 16px;
    color: #1e7ae2;
}

.div2_21{
    font-size: 12px;
    color: #1e7ae2;
}

.anchor_div.div3 {
    width: 100%;
    height: 170vh;
    font-size:15px;
    text-align:center;
}

.div3{
    margin: auto;
  }



  .content_btn {
    background: #64aae4;
    display: block;
    position: relative;
    float:none;
    width: 430px;
    height: 65px;
    margin: auto;
    font-size: 21px;
    text-align: center;
    border-radius: 10px;
    padding: 0;
    border: none;
  }
  .content_btn > a{color: white;}
  .content_btn:hover {
    background: #005eab;
  }


.anchor_div.div4 {
    width: 100%;
    height: 75vh;
    font-size:21px;
    text-align:left;
    background:rgb(255, 255, 255);
    padding: 100px 0px 0px 90px;
}

.link *{
    vertical-align: middle;
    font-size: 16px;
}

.link > a{color: black;}


.anchor_div.div5 {
    width: 100%;
    height: 100vh;
    font-size:15px;
    text-align:center;
    background:beige;
    background-image: url(image/image2.png);
    background-size: cover;
}
.anchor_div.div6 {
    width: 100%;
    height: 100vh;
    font-size:33px;
    text-align:center;
    background:rgb(255, 255, 255);
}





footer {
    width: 100%;
    height: 20vh;
    background-color: white;
}

.footer{
    text-align:center;
    padding: 25px;
    font-size: 20px;
}


.quick_pos .quick.fixed {
    position:fixed;
}
.quick_pos .quick li a {
    display:inline-block;
    color: black;
}
.quick_pos .quick li a.on {
    color: brown;
}

.header{
    width:98%;
    box-sizing:border-box;
    border-style:none none none none;
    border-width:0.5px;
    font-size:240%;
    justify-content : center;
    padding : 300px 0;
    }

.header2{
    width:98%;
    box-sizing:border-box;        
    border-style:none none none none;
    border-width:0.5px;
    font-size:240%;
    justify-content : center;
    padding : 300px 0;
    }
        
        


/* 화살표 디자인 */
.arrow_btn {
    width: 30px;
    height: 60px;
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 50px;
    margin: auto;
}
.arrow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
}
@keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
}


@media screen and (max-width:1023px) {
    /* 타블렛 */

    }

  
@media screen and (max-width:767px) {
        /* 모바일 */
    .header {
        font-size: 30px;
    }

    .anchor_div.div1{
        height: 700px;
    }

    .div2 {
        font-size: 24px;
    }
    .anchor_div.div2 {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 16px;
        height: 650px;
    }


    .anchor_div.div3{
        height: 700px;
    }

    .content_btn{
        width: 65%;
        height: 45px;
        font-size: 15px;
        margin: 40px auto;
    }

    .anchor_div.div4{
        font-size: 15px;
        padding: 7%;
        height: 400px;
    }

    .anchor_div.div5{
        height: 700px;
    }

    p.footer{
       font-size: 13px;
    }
    
    ul.quick{
        display: none;
    }

    header.quick_pos {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header2 {
        font-size: 30px;
    }
    .anchor_div.div6 {
        font-size: 24px;
        height: 400px;
    }
    .anchor_div.div6 a img {
        width: 148px;
        height: 178px;
    }
    
}

/*기타 조정*/
@media(min-width: 1024px){
    #image_large{
        display: block;
    }
    #image_small{
        display: none;
    }

    #div2_1{
        display: block;
    }

    .div2_11{
        display: block;
    }

    #div2_2{
        display: none;
    }

    .div2_21{
        display: none;
    }

    .quick_pos__toggleBtn{
        display: none;
    }

}

@media(max-width: 768px){
    #image_large{
        display: none;
    }
    #image_small{
        display: block;
    }

    #div2_1{
        display:none;
    }

    .div2_11{
        display: none;
    }

    #div2_2{
        display: block;
    }

    .div2_21{
        display: block;
    }

    .arrow_btn{
        position:absolute;     
        transform:translate(-50%);
    }

    
}